body{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.left {
    float: left
}

.right {
    float: right;
}

.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}

span {
    font-family: 'Poor Story', cursive;
    font-weight: bold;
    letter-spacing: 1px;
}

*{
    box-sizing: border-box;
}

img{
    width: 100%;
}

.menuBar{
    background-color: #3949AB;
}
.menuBar>li {
    display: inline-block;
    position: relative;
}

.menuBar>li>a {
    min-width: 100px;
}

.menuBar>li>a, .dropDown ul li {
    display: block;
    height: 60px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.menuBar>li:hover>a{
    border-bottom: 4px solid #E91E63;
}

.dropDown{
    position: absolute;
    top: 60px;
    left: 0px;
    display: none;
    width: 100%;
}

.menuBar>li:hover .dropDown {
    display: block;
}
.dropDown ul li {
    background-color: #3F51B5;
    border-bottom: 1px solid white;
}

.dropDown ul li a{
    display: block;
    height: 60px;
}

.dropDown ul li span {
    color: white;
}